<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block headTitle %}Neutron Backend{% endblock %}</title>
        
        {% block stylesheets %}
            {{ neutron_prepend_stylesheet('files/ui-icons-fix.css') }}
            {{ neutron_prepend_stylesheet('files/styles.css') }}
            {{ neutron_prepend_stylesheet('jquery/plugins/uniform/css/uniform.default.css') }}
            {{ neutron_prepend_stylesheet('jquery/plugins/jgrowl/jquery.jgrowl.css') }}
            {{ neutron_prepend_stylesheet('jquery/css/smoothness/jquery-ui.css') }}
    
            {{ neutron_stylesheet_render() }}

        {% endblock %}
        

        
    
    </head>
    <body>
        <div id="page">
            <div id="top">
                <a href="{{ site_url }}">{{ app.request.getHost() }} <small>(Neutron ALPHA 1)</small></a>

                <ul id="navigation">
                    <li>
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'NeutronUserBundle')|raw }} 
                        <span class="divider">&mdash;</span>
                    </li>
                    
                    {{ neutron_admin_language_select() }}
                    
                    <li class="dropdown">
                        <a href="javascript:;">{{ 'administration.menu'|trans }}
                            <span class="caret"></span>
                        </a>
                        {% set menu = knp_menu_get('NeutronAdminBundle:Main:menu', ['user_management'])%}
                        {{ knp_menu_render(menu, {
                        'template': 'NeutronAdminBundle:Menu:main_menu.html.twig',
                        'allow_safe_labels': true,
                        'currentClass': 'active',
                        'firstClass': 'first-class',
                        'lastClass': 'last-class'
                        })
                      }}
                    </li>
                </ul>
            </div>
            <div id="panel">
                
                    {% block headDesc %}
                        <h1 class="icon dashboard">
                            Header <small>some text</small>
                        </h1>
                    {% endblock %}
                
                {% set menu = knp_menu_get('NeutronAdminBundle:Main:menu').removeChild('user_management') %}
                {{ knp_menu_render(menu, {
	                'template': 'NeutronAdminBundle:Menu:main_menu.html.twig',
	                'allow_safe_labels': true,
	                'currentClass': 'active',
	                'firstClass': 'first-class',
	                'lastClass': 'last-class'
                })
                }}

            </div>
			{{ neutron_admin_breadcrumbs_render(knp_menu_get('NeutronAdminBundle:Main:menu')) }}


            <div id="container">{% block body %}{% endblock %}</div>
        </div>

        {% block footer %}
        <footer>
            <p>&copy; 2012 by <a href="http:neutronlabs.bg">NeutronLabs</a></p>
        </footer>
        {% endblock %}
        
        {% block javascripts %}

            {{ neutron_prepend_javascript('bundles/neutronadmin/js/neutron-form.js') }}
            {{ neutron_prepend_javascript('files/scripts.js') }}
            {{ neutron_prepend_javascript('jquery/plugins/blockui/jquery.blockUI.js') }}
            {{ neutron_prepend_javascript('jquery/plugins/uniform/jquery.uniform.min.js') }}
            {{ neutron_prepend_javascript('jquery/plugins/jgrowl/jquery.jgrowl.js') }}
            {{ neutron_prepend_javascript('jquery/i18n/jquery-ui-i18n.js') }}
            {{ neutron_prepend_javascript('jquery/js/jquery-ui.js') }}
            {{ neutron_prepend_javascript('jquery/js/jquery.js') }}
            
            {{ neutron_javascript_render() }}
    
            <!--[if lt IE 9]><script src="{{ site_url }}files/assets/html5shiv.js"></script><![endif]-->

        {% endblock %}
        
    </body>
</html>