{% form_theme form with ['NeutronAdminBundle:Form:form_theme.html.twig'] %}

<div id="messages"></div>

<form action="{{ app.request.getRequestUri() }}" class="neutron-form form" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
    	<div class="actions">
            <div class="controls">
                <a href="#submit" style="float:right; margin:5px;" class="btn submit-type" >{{ options.submit_label|trans({}, options.translation_domain) }}</a>
                {% for button in buttons %}
                    <a href="{{ button.url }}" style="float:right; margin:5px;" class="{{ button.style }}" >{{ button.label|trans({}, options.translation_domain) }}</a>
                {% endfor %}
            </div>
        </div>

    </div>

</form>

<div id="message-form-invalid" style="display:none;">
    <div class="msg error">
        <p>{{ 'form.message.invalid'|trans({}, 'NeutronUserBundle') }}</p><a class="close">×</a>
    </div>
</div>

<div id="block-ui-message" style="display:none"><h3><img src="{{ site_url }}files/images/ajax-loader.gif" /> {{ 'form.message.blockui'|trans({}, options.translation_domain) }}</h3></div>