{% extends "NeutronAdminBundle::layout.html.twig" %}
{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header><h2>Headings</h2></header>
		 	
            <table class="table">
                <tbody>
                	<tr>
                		<td><strong>{{ 'form.title'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                		<td class="actions">{{ node.title }}</td>
                	</tr>
                	{% if node.type == 'neutron.plugin.external' %}
                	    <tr>
                    		<td><strong>{{ 'form.external'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                    		<td class="actions">{{ node.externalUri }}</td>
                        </tr>
                	{% else %}
                    	<tr>
                    		<td><strong>{{ 'form.slug'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                    		<td class="actions">{{ node.slug }}</td>
                        </tr>
                    {% endif %}
                	<tr>
                		<td><strong>{{ 'form.type'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                		<td class="actions">{{ node.type }}</td>
                    </tr>
                    
                	<tr>
                		<td><strong>{{ 'form.enabled'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                		<td class="actions">{{ node.enabled|yes_no }}</td>
                    </tr>
                    
                	<tr>
                		<td><strong>{{ 'form.displayed'|trans({}, 'NeutronAdminBundle') }}</strong></td>
                		<td class="actions">{{ node.displayed|yes_no }}</td>
                    </tr>
                </tbody>
            </table>
            
            <div style="clear:both"></div>
            
            <div class="actions">
                <div class="controls">
                    <form action="{{ app.request.requestUri }}" method="POST">
                        
                        <button type="submit"  style="float:right; margin:5px;" type="submit" class="btn" name="operation" value="delete">{{ 'neutron_admin.category.delete'|trans({}, 'NeutronAdminBundle') }}</button>
                        <!-- <button type="submit"  style="float:right; margin:5px;" type="submit" class="btn" name="operation" value="remove">{{ 'neutron_admin.category.remove'|trans({}, 'NeutronAdminBundle') }}</button> -->
                        <a href="{{ path('neutron_admin.category.management') }}" style="float:right; margin:5px;" class="btn action" >{{ 'neutron_admin.category.management.back'|trans({}, 'NeutronAdminBundle') }}</a>
                    </form>   
                </div>
            </div> 	
		</article>

	</div>
</div>
{% endblock %}