{# Widgets #}

{% block form_widget %}
{% spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input grid5')|trim}) %}
    {% if type == 'hidden' %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% else %}
        <div class="controls">
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>
    {% endif %}
    
{% endspaceless %}
{% endblock form_widget_simple %}



{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' textarea')|trim}) %}
    <div class="controls">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
<div class="controls">
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
</div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
{% spaceless %}

{% if attr.class is defined and attr.class == 'neutron-acl' %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% else %}
    <div class="controls">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
{% endif %}

{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio_widget %}

{% block number_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock integer_widget %}

{% block money_widget %}
{% spaceless %}
    {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{% endspaceless %}
{% endblock money_widget %}

{% block url_widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock url_widget %}

{% block search_widget %}
{% spaceless %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }} %
{% endspaceless %}
{% endblock percent_widget %}

{% block password_widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock password_widget %}

{% block hidden_widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock hidden_widget %}

{% block email_widget %}
{% spaceless %}
    {% set type = type|default('email') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock email_widget %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' align')|trim}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{# Rows #}

{% block repeated_row %}
{% spaceless %}
    {{ block('form_rows') }}
{% endspaceless %}
{% endblock repeated_row %}

{% block form_row %}
{% spaceless %}
    {% if form.vars['neutron_widget'] is defined %}
        {{ form_widget(form) }}
    {% else %}
        <div id="{{ form.vars['id'] }}-div" class="field">
            {{ form_label(form, label|default(null)) }}
            {#
            If the child is a compound form, the errors are rendered inside
            the container. See also block form_rows.
            #}
            {% if not compound %}
                {{ form_errors(form) }}
            {% endif %}
            {{ form_widget(form) }}
        </div>
    {% endif %}

{% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block form_enctype %}
{% spaceless %}
    {% if multipart %}enctype="multipart/form-data"{% endif %}
{% endspaceless %}
{% endblock form_enctype %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_rest %}
{% spaceless %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rest %}

{# Support #}

{% block form_rows %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}

{% block neutron_datetimepicker_row %} 
{% spaceless %} 
<div class="field">
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' grid3')|trim}) %}
    {% if(configs['range_id'] is defined) %} 
        {% set rangetime_id = 'id=' ~ configs['range_id'] %} 
    {% else %} 
        {% set rangetime_id = '' %} 
        {{ form_label(form, label|default(null), {'attr': {'for' : id}}) }} 
    {% endif %} 
    
    {{ block('form_widget_simple') }}
    
    <span  {{ rangetime_id }} class="neutron_datetimepicker" style="display: none">
        {{ configs|merge({'id': id})|json_encode|raw }}
    </span>
</div>
{% endspaceless %} 
{% endblock neutron_datetimepicker_row %} 

{% block neutron_chosen_row %}
{% spaceless %}
<div class="field">
    {{ form_label(form, label|default(null), {'attr': {'for' : id}}) }} 
    {% set attr = {
        "data-placeholder": empty_value,
        "class": "chzn-select"
    }|merge(attr) %}
    
    {{ block('choice_widget') }}

    <span class="neutron_chosen" style="display:none">
        {{ configs|merge({'id': id})|json_encode|raw }}
    </span>
    
</div>
{% endspaceless %}
{% endblock neutron_chosen_row %}


{% block neutron_select_row %}
{% spaceless %}
<div class="field">
    {{ form_label(form, label|default(null), {'attr': {'for' : id}}) }} 
    
    {{ block('choice_widget') }}
    <span class="neutron_select" style="display:none">
        {{ configs|merge({'id': id})|json_encode|raw }}
    </span>
</div>
{% endspaceless %}
{% endblock neutron_select_row %}

{% block neutron_plain_row %} 
{% spaceless %}   
    <div class="field">
        {{ block('form_label') }}
        <div class="controls">
            <p><strong>{{ value|escape }}</strong></p>
        </div>
    </div>
{% endspaceless %} 
{% endblock neutron_plain_row %} 

{% block neutron_admin_form_acl_row %} 
{% spaceless %}   
   <div class="field">
    {{ block('form_label') }}
    {% for child in form %}
        <div style="float:right">{{ child.vars['label'] }} {{ form_widget(child, {'attr': {'class': 'neutron-acl'} }) }}</div> 
    {% endfor %}   
   </div>
{% endspaceless %} 
{% endblock neutron_admin_form_acl_row %} 

{% block neutron_tinymce_row %}
{% spaceless %}
<div class="field">
    {{ block('form_label') }}

    {{ form_widget(form) }} 
        
    <span class="neutron_tinymce" style="display:none">
        {{ configs|merge({'id': id, 'base_url': site_url})|json_encode|raw }}
    </span>
  
</div>
{% endspaceless %}
{% endblock neutron_tinymce_row %}

{% block neutron_image_upload_row %}
{% spaceless %}

<div id="{{ id }}" class="field">
    {{ block('form_label') }}
    <div class="controls">
        {% for child in form %}
           {{ form_widget(child) }} 
        {% endfor %}
        
        {% set configs = {
                id: id,
                name_id:  form.name.vars['id'],
                title_id:  form.title.vars['id'],
                caption_id:  form.caption.vars['id'],
                description_id:  form.description.vars['id'],
                hash_id:  form.hash.vars['id'],
                active_id:  form.isActive.vars['id'],
                base_url: site_url,
            }|merge(configs) 
        %}
            
        {{ block('neutron_image_upload_container') }} 
        {{ block('neutron_image_upload_crop') }}
        {{ block('neutron_image_upload_edit') }}
    </div>
</div>
{% endspaceless %}
{% endblock neutron_image_upload_row %}

{% block neutron_image_upload_container %}
{% spaceless %}
<div id="neutron-image-upload-container-{{ id }}">
    <div class="ui-state-error" style="width:300px; padding:5px; display:none">
        <span style="float:right">
            <a href="#close" id="neutron-upload-error-cancel-{{ id }}">
                <img src="{{ site_url }}bundles/neutronform/images/cancel.png" />
            </a>
        </span>
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
            <span class="neutron-imageupload-error">&nbsp</span>
        </p>
    </div>
        
        
    <div  id="neutron-progressbar-{{ id }}" style="width:350px; height:10px; display: none" ></div>
    <div class="neutron-progress-info" style="display:none">
        <div class="ui-widget">
            <div class="ui-state-highlight ui-corner-all" style="width:340px;padding:5px;"> 
                <span style="float:right" id="neutron-upload-remove-image-{{id}}">
                    <a href="#remove">
                        <img src="{{ site_url }}bundles/neutronform/images/cancel.png" />
                    </a>
                </span>
                <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <span>{% trans from 'NeutronFormBundle' %}neutron_upload.upload_progress{% endtrans %}: <strong>0%</strong></span>
                <br/>
                <span id="neutron-image-info-{{ id }}">__image_name__ (__image_size__)</span>
            </div>
        </div>
    </div>
        
    <div class="neutron-image">
        <img id="neutron-image-{{ id }}" src="{{ site_url }}bundles/neutronform/images/noImage.png" />
    </div>
    
    <div class="neutron-controls">
        <button id="neutron-image-btn-upload-{{ id }}" class="ui-icon ui-icon-newwin neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_upload_title{% endtrans %}"></button> &nbsp;
        <a id="neutron-image-btn-active-{{ id }}" 
            class="ui-icon {% if (form.isActive.vars['value'] == 0)  %} ui-icon-radio-on {% else %} ui-icon-bullet {% endif %} neutron-image-upload-button" 
            title="{% if (form.isActive.vars['value'] == 0)  %} {{ configs.button_inactive_title }} {% else %} {{ configs.button_active_title }} {% endif %}"></a>  &nbsp;
        <a id="neutron-image-btn-view-{{ id }}" class="ui-icon ui-icon-zoomin neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_view_title{% endtrans %}"></a>  &nbsp;
        <a id="neutron-image-btn-crop-{{ id }}" class="ui-icon ui-icon-scissors neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_crop_title{% endtrans %}"></a>  &nbsp;
        <a id="neutron-image-btn-edit-{{ id }}" class="ui-icon ui-icon-pencil neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_edit_meta_title{% endtrans %}"></a>  &nbsp;
        <a id="neutron-image-btn-rotate-{{ id }}" class="ui-icon ui-icon-arrowrefresh-1-s neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_rotate_title{% endtrans %}"></a> &nbsp;
        <a id="neutron-image-btn-reset-{{ id }}" class="ui-icon ui-icon-cancel neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_reset_title{% endtrans %}"></a>  &nbsp;
        <a id="neutron-image-btn-remove-{{ id }}" class="ui-icon ui-icon-trash neutron-image-upload-button" 
            title="{% trans from 'NeutronFormBundle' %}button_remove_title{% endtrans %}"></a>  &nbsp;
    </div>
</div>
<span class="neutron_image_upload" style="display:none">
    {{ configs|json_encode|raw }}
</span>
{% endspaceless %}
{% endblock neutron_image_upload_container %}

{% block neutron_image_upload_crop %}
{% spaceless %}
<div id="neutron-dlg-image-crop-{{ id }}" style="display:none" 
    title="{% trans from 'NeutronFormBundle' %}dialog_crop_title{% endtrans %}">
   
    <div id="neutron-image-crop-{{ id }}" class="neutron-image"></div>

    <div style="float:right">
        <input type="hidden" id="x-{{ id }}"/>
        <input type="hidden" id="y-{{ id }}"/>
        <input type="hidden" id="w-{{ id }}"/>
        <input type="hidden" id="h-{{ id }}"/>
        <a id="neutron-crop-dlg-save-btn-{{ id }}" class="neutron-image-upload-button">
            {% trans from 'NeutronFormBundle' %}dialog_crop_button_crop{% endtrans %}</a>  &nbsp;
        <a id="neutron-crop-dlg-cancel-btn-{{ id }}" class=" neutron-image-upload-button">
            {% trans from 'NeutronFormBundle' %}dialog_crop_button_cancel{% endtrans %}</a>
    </div>
</div>  
{% endspaceless %}
{% endblock neutron_image_upload_crop %}

{% block neutron_image_upload_edit %}
{% spaceless %}
<div id="neutron-dlg-image-edit-{{ id }}" class="neutron-form" 
    title="{% trans from 'NeutronFormBundle' %}neutron_upload.dialog_edit_meta_title{% endtrans %}">
   <div>
       <label for="neutron_image_title-{{ id }}" class="neutron-form-label">
           {% trans from 'NeutronFormBundle' %}dialog_edit_meta_label_title{% endtrans %}
       </label>
       <input type="text" id="neutron-image-title-{{ id }}" class="neutron-form-text" />
   </div>
   
   <div>
       <label for="neutron-image-caption-{{ id }}" class="neutron-form-label" >
           {% trans from 'NeutronFormBundle' %}dialog_edit_meta_label_caption{% endtrans %}
       </label>
       <input type="text" id="neutron-image-caption-{{ id }}" class="neutron-form-text" />
      
   </div>
   
   <div>
       <label for="neutron-image-description-{{ id }}" class="neutron-form-label">
           {% trans from 'NeutronFormBundle' %}dialog_edit_meta_label_description{% endtrans %}
       </label>
       <textarea id="neutron-image-description-{{ id }}" class="neutron-form-text" rows="5" ></textarea>
   </div>
   
   <div style="float:right">
       <a id="neutron-edit-dlg-done-btn-{{ id }}" class="neutron-image-upload-button">
           {% trans from 'NeutronFormBundle' %}dialog_edit_meta_button_done{% endtrans %}
       </a>
   </div>
   
</div>
{% endspaceless %}
{% endblock neutron_image_upload_edit %}

{% block neutron_layout_widget %}
{% spaceless %}
    <div id="neutron-layout" class="widget-container" data-options="{{ configs|json_encode }}" style="width:590px">
	<legend>{% trans from "NeutronLayoutBundle" %}form.layout.available_widgets{% endtrans %}</legend>
        <div id="widget-list" >
            {% if (widgets|length) > 0 %}
                {% for widget in widgets %}
                    <div class="widget-item">
                        <div data-widget="{{ widget.exportOptions()|json_encode }}" class="ui-state-default widget"><span class="widget-label">{{ widget.getLabel() }}</span></div>
                        <p class="desc">{{ widget.getDescription() }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="desc">{% trans from "NeutronLayoutBundle" %}widgets.empty{% endtrans %}</p>
            {% endif %}
        </div>
    </div>
    <div class="widget-container" style="width:310px">
        <legend>{% trans from "NeutronLayoutBundle" %}layout.panels{% endtrans %}</legend>
        <div id="neutron-plugin-containers">
           
            {% if (form|length) > 0 %} 
                {% for panel in form %}              
                    <h3><a href="#">{{ panel.vars.label }}</a></h3>
                    
                    <div id="{{ panel.vars.data.name }}" class="neutron-sortable" data-panel="{{ panel.vars.data.exportOptions()|json_encode }}" data-prototype="{{ form_row(panel.widgetReferences.vars.prototype)|e }}">
                        {% for widgets in panel %}
                            {% for widget in widgets %}
                                <div data-widget="{{ widget.vars.data.widget.exportOptions|json_encode }}" class="ui-state-default widget">
                                    <span class="widget-label">{{ widget.vars.data.label|slice(0,35) }}</span>
                                    <a class="delete-btn" href="#" style="float:right"></a>
                                    <a href="#" class="edit-btn" style="float:right"></a>
                                    {{ form_widget(widget.identifier) }}
                                    {{ form_widget(widget.category) }}
                                    {{ form_widget(widget.strategyWidgetName) }}
                                    {{ form_widget(widget.strategyPluginName) }}
                                    {{ form_widget(widget.strategyPanelName) }}
                                    {{ form_widget(widget.position) }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                          
                        <p {% if(panel.vars.data.widgetReferences|length)  > 0 %}style="display:none"{% endif %}
                            class="desc">{{ panel.vars.data.description }}</p>
                    </div>

                {% endfor %}
            {% else %}
                {% trans from "NeutronLayoutBundle" %}panels.empty{% endtrans %}
            {% endif %}
        </div>
    </div>

    <div id="neutron-layout-dialog" title="{% trans from 'messages' %}widget_reference.dlg.title{% endtrans %}" style="display:none">
        <div id="dlg-error-msg-blank" class="ui-state-error ui-corner-all dlg-error-msg" style="display: none;"> 
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
                <strong>{% trans from 'NeutronLayoutBundle' %}widget_reference.dlg.error_msg_blank{% endtrans %}</strong>
            </p>
	</div>
            
        <div id="dlg-error-msg-exist" class="ui-state-error ui-corner-all dlg-error-msg" style="display: none;"> 
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
                <strong>{% trans from 'NeutronLayoutBundle' %}widget_reference.dlg.error_msg_exist{% endtrans %}</strong>
            </p>
	</div>
	
        <div>
            <label>{% trans from 'NeutronLayoutBundle' %}widget_reference.dlg.label{% endtrans %}</label>
            <div>
                <select id="neutron-widget-reference" class="uniform"></select>
               
                <button id="neutron-layout-dialog-save">
                    {% trans from 'NeutronLayoutBundle' %}widget_reference.dlg.btn{% endtrans %}
                </button>
            </div>
        </div>  
        
        <p class="desc">{% trans from 'NeutronLayoutBundle' %}widget_reference.dlg.desc{% endtrans %}</p>
    </div>


{% endspaceless %}
{% endblock neutron_layout_widget %}


{% block neutron_input_limiter_row %}
{% spaceless %}
<div class="field">
    {{ block('field_label') }}
        <div class="controls">
            {{ form_widget(form) }}
        </div>
     
    <span class="neutron-input-limiter" style="display:none">
        {{ configs|merge({'id': id})|json_encode|raw }}
    </span>
        
</div>
{% endspaceless %}
{% endblock neutron_input_limiter_row %}

{% block neutron_multi_select_sortable_collection_row %}
{% spaceless %}
<div class="field">
    {{ block('field_label') }}

    <div data-prototype="{{ form_widget(form.get('prototype')) | e }}" data-options="{{ configs|merge({'id': id})|json_encode|e }}" class="multi-select-sortable-container controls">
              
        <div class="neutron-grid">{{ neutron_datagrid(grid) }}</div>     
        <div id="multi-select-sortable-{{ id }}" class="multi-select-sortable" style="display:none">
            <p class="desc">{% trans from "NeutronFormBundle" %}muli_select_sortable.description{% endtrans %}</p>
            <p id="multi-select-sortable-error-{{ id }}" class="multi-select-sortable-error" style="display:none">{% trans from "NeutronFormBundle" %}muli_select_sortable.error{% endtrans %}</p>
            {% for child in form %}
                <div id="multi-select-element-{{ child.reference.vars.value }}" class="ui-state-default multi-select-element">
                    {{ child.vars.data.name }}
                    <a class="delete-btn" href="#" style="float:right"></a>
                    <a data-icon="{% if child.isActive.vars.value == 1 %}ui-icon-bullet{% else %}ui-icon-radio-on{% endif %}" class="active-btn" href="#" style="float:right"></a>
                    {{ form_widget(child.position) }}
                    {{ form_widget(child.isActive) }}
                    {{ form_widget(child.reference) }}                 
                </div>
            {% endfor %}
        </div>
    </div>
        
</div>
{% endspaceless %}
{% endblock neutron_multi_select_sortable_collection_row %}



{# Deprecated in Symfony 2.1, to be removed in 2.3 #}

{% block generic_label %}{{ block('form_label') }}{% endblock %}
{% block widget_choice_options %}{{ block('choice_widget_options') }}{% endblock %}
{% block field_widget %}{{ block('form_widget_simple') }}{% endblock %}
{% block field_label %}{{ block('form_label') }}{% endblock %}
{% block field_row %}{{ block('form_row') }}{% endblock %}
{% block field_enctype %}{{ block('form_enctype') }}{% endblock %}
{% block field_errors %}{{ block('form_errors') }}{% endblock %}
{% block field_rest %}{{ block('form_rest') }}{% endblock %}
{% block field_rows %}{{ block('form_rows') }}{% endblock %}